#Ingresar {
    -fx-cursor: hand;
    -fx-background-color: #1a1a33;
    -fx-border-color: #ffffff;
    -fx-border-radius: 15;
    -fx-border-width: 1;
    -fx-background-radius: 15;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 15px;

}
#Ingresar:hover{
    -fx-background-color: #ac591d;
}
#contenedor{
    -fx-background-color: #c38d44;
    -fx-background-radius: 15;
    -fx-border-color: #D9D9D9;
    -fx-border-radius: 15;
    -fx-border-width: 1;
}

#titulo{
    -fx-text-fill: #ffffff;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}
#txtCorreo{
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-padding: 6;
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
#txtContrasena{
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-padding: 6;
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
#text{
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
#correo{
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
#pass{
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
.root{
    -fx-background-color: #1a1a33;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
}

#foco{
    -fx-text-fill: #209122;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.label{
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.text-field{
    -fx-background-color: #b3b3b3;
    -fx-border-color: #ffffff;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-padding: 6;
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-width: 2;

}

.combo-box{
    -fx-background-color: #b3b3b3;
    -fx-border-color: #ffffff;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-width: 2;

}

#btnCerrarSesion{
    -fx-background-color: #b47c1b;
    -fx-border-color: #a5a5a5;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
#btnMascotas{
    -fx-background-color: #b47c1b;
    -fx-border-color: #a5a5a5;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
#btnMascotas:hover{
    -fx-background-color: #067EC9;
    -fx-border-color: #ffffff;
}
#btnPropietarios{
    -fx-background-color: #b47c1b;
    -fx-border-color: #ffffff;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
#btnPropietarios:hover{
    -fx-background-color: #067EC9;
    -fx-border-color: #ffffff;
}
#btnReportes{
    -fx-background-color: #b47c1b;
    -fx-border-color: #ffffff;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
#btnReportes:hover{
    -fx-background-color: #067EC9;
    -fx-border-color: #ffffff;
}
#btnUsuarios{
    -fx-background-color: #b47c1b;
    -fx-border-color: #ffffff;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
#btnUsuarios:hover{
    -fx-background-color: #067EC9;
    -fx-border-color: #ffffff;
}
#guardar{
    -fx-background-color: #165e17;
    -fx-border-color: #ffffff;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

#guardar:hover{
    -fx-background-color: #067EC9;
    -fx-border-color: #ffffff;
}
#editar{
    -fx-background-color: #a50909;
    -fx-border-color: #ffffff;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
#editar:hover{
    -fx-background-color: #067EC9;
    -fx-border-color: #ffffff;
}

#eliminar{
    -fx-background-color: #203891;
    -fx-border-color: #ffffff;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

#eliminar:hover{
    -fx-background-color: #067EC9;
    -fx-border-color: #ffffff;
}
#limpiar{
    -fx-background-color: #4d0e65;
    -fx-border-color: #ffffff;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
#limpiar:hover{
    -fx-background-color: #067EC9;
    -fx-border-color: #ffffff;
}

#crear{
    -fx-background-color: #1d544d;
    -fx-border-color: #ffffff;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
#crear:hover{
    -fx-background-color: #067EC9;
    -fx-border-color: #ffffff;
}

.button:hover{
    -fx-background-color: #067EC9;
    -fx-border-color: #ffffff;
}

.table-view{
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
}

.table-view .column-header{
    -fx-background-color: #b47c1b;
    -fx-border-color: #c5c5c5;
}

.table-view .column-header .label{
    -fx-text-fill: black;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

.table-row-cell{
    -fx-background-color: white;
}

.scroll-bar{
    -fx-background-color: #ececec;
}

.table-view .placeholder .label{
    -fx-text-fill: #666666;
    -fx-font-size: 14px;
}
