.Acceder {
    -fx-cursor: hand;
    -fx-background-color: #5DBEFA;
    -fx-border-color: #5DBEFA;
    -fx-border-width: 1;
    -fx-background-radius: 15;
}
.Acceder:hover{
    -fx-background-color: #067EC9;
    -fx-border-color: #067EC9;
}
.contenedor{
    -fx-background-color: #F1F1F5;
    -fx-background-radius: 15;
    -fx-border-color: #D9D9D9;
    -fx-border-radius: 15;
    -fx-border-width: 1;
}